.forms__error-img {
    font-size: 13px;
    margin: 0;
    height: 10px;
    text-align: center;
    padding-top: 5px;
    color: red;
    display: flex;
}
.forms__error-img--active {
    display: flex;
    height: 10px;
    font-size: 13px;
    padding-top: 5px;
    opacity: 1;
}

.forms__error-msg {
    font-size: 13px;
    margin: 0;
    height: 10px;
    text-align: center;
    padding-top: 5px;
    color: red;
    display: flex;
}
.forms__error-msg--active {
    display: flex;
    height: 10px;
    font-size: 13px;
    padding-top: 5px;
    opacity: 1;
}
@media screen and (max-width: 768px) {
  
}

@media screen and (max-width: 320px) {
    .forms__error-img {
        font-size: 8px;
    }
    .forms__error-img--active {
        font-size: 8px;
    }
    
    .forms__error-msg {
        font-size: 8px;
    }
    .forms__error-msg--active {
        font-size: 8px;
    }
}