.container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(70px, 32%));
    box-sizing: border-box;
    grid-gap: 20px;
    height: fit-content;
    justify-content: center;
}

.form__error-img {
    font-size: 13px;
    margin: 0;
    height: 10px;
    text-align: center;
    padding-top: 5px;
    color: red;
    display: flex;
}
.form__error-img--active {
    display: flex;
    height: 10px;
    font-size: 13px;
    padding-top: 5px;
    opacity: 1;
}

.form__error-msg {
    font-size: 13px;
    margin: 0;
    height: 10px;
    text-align: center;
    padding-top: 5px;
    color: red;
    display: flex;
}
.form__error-msg--active {
    display: flex;
    height: 10px;
    font-size: 13px;
    padding-top: 5px;
    opacity: 1;
}


.forms {
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    display: none;
    transform: translate(-50%, -50%);
}

.forms_active {
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.form__title {
    color: #000000;
    display: flex;
    width: 100%;
    font-weight: 900;
    font-size: 35px;
    line-height: 29px;
    margin-top: 0px;
    margin-bottom: 30px;
}

.form__fill {
    display: flex;
    flex-direction: column;
    gap: 0;
}

.form__submit {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    opacity: 0.2;
    width: 100%;
    padding: 10px 20px;
    border: 2px solid black;
    cursor: pointer;
    margin-top: 20px;
}

.form__submit-active:hover {
    opacity: 0.5;
}

.form__submit-active {
    background-color: #000000;
    color: white;
    cursor: pointer;
    opacity: 1; 
  }

.forms__overlay {
    display: grid;
    flex-direction: column;
    width: 500px;
    height: fit-content;
    margin: auto auto auto auto;
}

.form__input {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 0px;
    font-weight: 400;
    font-size: 16px;
    line-height: 17px;
    border: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

.forms__form{
    background-color: #ffffff;
    padding: 60px 40px;
    border-radius: 10px;
    display: grid;
    gap: 20px;
}
.forms__close {
    display: flex;
    cursor: pointer;
    background: none;
    justify-content: end;
    margin-right: -35px;
    border: none;
}



.zoom {
    position: fixed;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.8s ease, visibility 0.7s ease;
  }
  
  .zoom_active {
    display: flex;
    opacity: 1;
    visibility: visible;
  }
  
  .zoom__content {
    padding: 10px;
    max-width: 400px;
    height: 800px;
    text-align: center;
  }
  
  .zoom__file {
    height: 700px;
    width: 400px;
    margin-bottom: 10px;
    object-fit: cover;
  }
  
  .zoom__title {
    font-size: 15px;
    font-weight: 100;
    margin-bottom: 10px;
    color: #ffffff;
    display: flex;
  }
  
  .zoom__close {
    display: flex;
    cursor: pointer;
    background: none;
    justify-content: end;
    margin-right: -468px;
    border: none;
  }

  .element__delete {
    background: url(../../../images/delete.svg) center no-repeat;
    position: absolute;
    display: flex;
    cursor: pointer;
    height: 60px;
    width: 30px;
    justify-content: center;
    margin-right: 20px;
    margin-top: 10px;
    border: none;
    align-items: center;
    right: 0;
}



@media screen and (max-width: 768px) {
    .container {
        grid-template-columns: repeat(auto-fit, minmax(25px, 45%));
        max-width: 768px;
    }

    .forms__overlay {
        width: 60%;
    }

    .zoom__close {
        margin-right: -227px;
    }
    .zoom__file {
        height: 580px;
        width: 250px;
    }
    .zoom__content {
        padding: 10px;
        max-width: 400px;
        height: auto;
        text-align: center;
      }
}

@media screen and (max-width: 320px) {
    .container {
        grid-template-columns: auto;
    }

    .form__title {
        font-size: 18px;
        padding-bottom: 0px;
    }

    .form__overlay {
        width: 270px;
    }

    .form__input {
        font-size: 13px;
    }
    .forms__form {
        padding: 20px 20px;
    }
    .forms__close {
        margin-right: 0px;
        margin-bottom: 10px;
        padding: 0px;
    }

    .element__delete {
        height: 35px;
        width: 22px;
        margin-right: 10px;
        margin-top: 5px;
        background-size: 20px 20px;
    }
    .zoom__file {
        height: 450px;
        width: 250px;
    }
}