.zoom__overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.popup__set{
    border: none;
    padding: 0;
    margin: 0;
    pointer-events: all;
    display: grid;
    gap: 20px;
}

.forms__set{
    border: none;
    padding: 0;
    margin: 0;
    pointer-events: all;
    display: grid;
    gap: 20px;
}

.forms__form {
    display: flex;
    flex-direction: column;
  }
  
  .forms__set {
    border: none;
    padding: 0;
    margin: 0;
  }
  
  .forms__fill {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 20px 0;
  }
  
  .forms__fill_type_row {
    flex-direction: row;
    align-items: center;
  }
  
  .forms__input {
    font-size: 16px;
    line-height: 19px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #979797;
    position: relative;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    outline: none;
    padding: 7px 0;
  }
  
  .content__title {
    font-size: 28px;
    line-height: 32px;
    margin: 0 0 20px;
  }
  
  .content__subtitle {
    font-size: 16px;
    line-height: 19px;
    margin: 0 0 30px;
  }
  
  .forms__input:hover {
    border-bottom-color: #000;
  }
  
  .forms__input:focus {
    border-bottom-color: #007DFF;
  }
  
  .forms__input:focus + .form__placeholder,
  .form__placeholder_is-fixed {
    font-size: 12px;
    line-height: 14px;
    -webkit-transform: translateY(-160%) scale(1);
    -moz-transform: translateY(-160%) scale(1);
    -ms-transform: translateY(-160%) scale(1);
    -o-transform: translateY(-160%) scale(1);
    transform: translateY(-160%) scale(1);
  }
  
  .forms__submit {
    width: 100%;
    font-size: 16px;
    line-height: 19px;
    color: #fff;
    background: #000000;
    border-radius: 1px;
    cursor: pointer;
    outline: none;
    padding: 12px;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  
  
  .forms__set {
    /* max-height: 0;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; */
    overflow: hidden;
    opacity: 1;
    pointer-events: all;
  }
  
  .forms__set_active {
    max-height: none;
    visibility: visible;
    opacity: 1;
    pointer-events: all;
  }
  
  .forms__input-error {
    font-size: 12px;
    color: red;
    opacity: 0.5;
    position: absolute;
    top: calc(100% + 6px);
    left: 0;
    transition: 0.3s;
    z-index: 1;
  }
  
  .forms__input-error_active {
    opacity: 1;
  }
  
  .forms__input_type_error {
    border-bottom-color: red;
  }
  
  .forms__input_type_error + .form__checkbox-item {
    border: 1px solid red;
  }
  
  .forms__submit_inactive {
    color: #B8B8B8;
    background: #EDEDED;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }