input, button {
    border: none;
  }

h1, h2, p, a{
    color: #ffffff;
}

/* header */
.header {
    position: relative;
    display: flex;
    align-items: center;
    position: relative;
    padding-top: 70px;
    background: #000000; 
}
  
.header__logo {
    width: 70%;
    
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 70px;
    border-bottom: 1px solid rgb(255, 255, 255);
}
  
/* page */


/* profile */
.profile {
    max-width: 70%;
    display: grid;
    gap: 10px;
    grid-template-columns: 20% 60% auto;
    align-items: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.profile__image {
    max-width: 168px;
    border-radius: 50%;
}

.profile__profile-info  {
    display: grid;
    gap: 20px;
    grid-template-columns: 60% auto;
}

.profile__profile-info_title {
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    margin: 0px;
}

.profile__profile-info_subtitle{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin: 0px;
}

.profile__profile-info_edit-btn {
    background: url(./images/edit.svg) center no-repeat;
    color: #d3d3d3;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    position: relative;
    border: 2px solid rgb(255, 255, 255);
    margin-top: auto;
    margin-bottom: auto;
    cursor: pointer;
}

.profile__profile-info_edit-btn:hover {
    opacity: 0.6;
    transition: 0.4s;
  }

.profile__profile-info_add-btn{
    background: url(./images/plus.svg) center no-repeat;
    border: 2px solid rgb(255, 255, 255);
    color: #d3d3d3;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    cursor: pointer;
}

.profile__profile-info_add-btn:hover {
    opacity: 0.6;
    transition: 0.4s;
}


/* element */
.elements {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 70%;
    width: 100%;
    display: grid;
    /* grid-template-columns: auto auto auto; */
    grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
    box-sizing: border-box;
    grid-gap: 30px;
    height: fit-content;
    justify-content: center;
}

.elements__element {
    background: #FFFFFF;
    border-radius: 20px;
    width: 100%;
    height: 600px;
    display: grid;
    grid-auto-rows: 80% auto;
}

.element__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.element__group{
    display: flex;
    flex-direction: row;
    row-gap: 20px;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
    align-items: center;
    
}

.element__title{
    color: #000000;
    font-weight: 800;
    font-size: 21px;
    line-height: 25px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 150px;
}

.element__button{
    background: url(./images/love.svg) center no-repeat;
    color: #000000;
    width: 25px;
    cursor: pointer;
    height: 20px;
    border: 0px solid black;
}

.element__button-love{
    background: url(./images/Union.svg) center no-repeat;
    color: #000000;
    width: 25px;
    cursor: pointer;
    height: 20px;
    border: 0px solid black;
}

.element__button:hover {
    opacity: 0.4;
    transition: 0.4s;
}

.footer {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}


/* form */
  
.edit-form {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: gray;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    width: 100%;
}

.edit-form__overlay {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: fit-content;
    margin: auto auto auto auto;
}
.form-active {
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    padding: 20px 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.edit-form__profil {
    background-color: #ffffff;
    padding: 60px 40px;
    border-radius: 10px;
    display: grid;
    gap: 20px;
}
 
.edit-form__profil-title {
    color: #000000;
    display: flex;
    width: 100%;
    font-weight: 900;
    font-size: 35px;
    line-height: 29px;
    margin-top: 0px;
    margin-bottom: 30px;
}

.form__input {
    display: flex;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    gap: 20px;
}

.edit-form__close {
    display: flex;
    cursor: pointer;
    background: none;
    justify-content: end;
    margin-right: -30px;
}

.edit-form__close-svg {
    width: 20px;
    max-height: 20px;
}
  
.edit-form__profil-field-1 {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 17px;
    border-bottom: 1px solid #454545;
}

.edit-form__profil-field-2 {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 17px;
    border-bottom: 1px solid #454545;
}
  
.edit-form__profil-submit-button {
    background-color: #000000;
    color: white;
    width: 100%;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

.edit-form__profil-submit-button:hover {
    opacity: 0.5;
}




@media screen and (max-width: 768px) {
    
    /* porfile */
    .profile {
        grid-template-columns: 25% 50% auto;
    }
    .profile__image {
        max-width: 128px;
    }

    .profile__profile-info_title {
        font-size: 25px;
        line-height: 33px;
    }

    .profile__profile-info {
        grid-template-columns: 70% auto;
    }

    .profile__profile-info_subtitle {
        font-size: 14px;
    }

    /* element */

    .elements {
        grid-template-columns: repeat( auto-fit, minmax(150px, 1fr) );
    }
    .elements__element {
        max-height: 400px;
        border-radius: 15px;
    }

    .element__title {
        font-size: 15px;
        line-height: 22px;
        max-width: 75px;
    }
    .element__image {
        border-radius: 15px 15px 0px 0px;
    }

    /* .edit-form */
    .edit-form__overlay {
        width: 400px;
    }
}
   
@media screen and (max-width: 320px) {
    .profile {
        display: grid;
        grid-template-columns: auto;
        justify-items: center;
        gap: 20px;
    }

    .profile__profile-info {
        justify-content: center;
        gap: 5px;
        width: 100%;
    }

    .profile__profile-info_title {
        display: flex;
        justify-content: end;
        font-size: 17px;
        text-align: right;
    }

    .profile__profile-info_subtitle {
        font-size: 14px;
        grid-column: 1 / span 2;
        justify-content: center;
        display: flex;
    }

    .profile__profile-info_edit-btn {
        margin-bottom: 10px;
        background-size: 7px 8px;
        width: 15px;
        max-height: 15px;
    }

    /* element */
    .elements__element {
        max-height: 300px;
        border-radius: 10px;
    }
    .element__image {
        border-radius: 10px 10px 0px 0px;
    }

    /* .edit-form */
    .edit-form__overlay {
        width: 270px;
    }

    .edit-form__profil {
        padding: 20px 20px;
    }

    .edit-form__close {
        margin-right: 0px;
        margin-bottom: 10px;
        padding: 0px;
    }
    
    .edit-form__profil-title {
        font-size: 18px;
        padding-bottom: 0px;
    }

    .edit-form__profil-field-1 {
        font-size: 13px;
    }

    .edit-form__profil-field-2 {
        font-size: 13px;
    }
    
}