.profile__add-btn{
    background: url(../../../images/plus.svg) center no-repeat;
    border: 2px solid rgb(255, 255, 255);
    color: #d3d3d3;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    cursor: pointer;
}

.profile__add-btn:hover {
    opacity: 0.6;
    transition: 0.4s;
}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 320px) {

}