.popprofile__profile-title {
    color: #000000;
    display: flex;
    width: 100%;
    font-weight: 900;
    font-size: 35px;
    line-height: 29px;
    margin-top: 0px;
    margin-bottom: 30px;
}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 320px) {
    .popprofile__profile-title {
        font-size: 18px;
        padding-bottom: 0px;
        margin-bottom: 10px;
    }
}