.element__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}
@media screen and (max-width: 768px) {
    .element__image {
        border-radius: 15px 15px 0px 0px;
    }
}

@media screen and (max-width: 320px) {
    .element__image {
        border-radius: 10px 10px 0px 0px;
    }
}