.elements {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 70%;
    width: 100%;
    display: grid;
    /* grid-template-columns: auto auto auto; */
    grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
    box-sizing: border-box;
    grid-gap: 30px;
    height: fit-content;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    .elements {
        grid-template-columns: repeat( auto-fit, minmax(150px, 1fr) );
    }
}