.popup__overlay {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: fit-content;
    margin: auto auto auto auto;
}
@media screen and (max-width: 768px) {
    .popup__overlay {
        width: 400px;
    }
}

@media screen and (max-width: 320px) {
    .popup__overlay {
        width: 270px;
    }
}