.profile__profile-info  {
    display: grid;
    gap: 20px;
    grid-template-columns: auto auto;
}

@media screen and (max-width: 768px) {
    .profile__profile-info {
        grid-template-columns: 70% auto;
        gap: 10px;
    }
}

@media screen and (max-width: 320px) {
    .profile__profile-info {
        justify-content: center;
        grid-template-columns: auto auto;
        gap: 5px;
        width: 100%;
    }
}