.element__button{
    background: url(../../../images/love.svg) center no-repeat;
    color: #000000;
    width: 35px;
    cursor: pointer;
    height: 20px;
    border: 0px solid black;
}

.element__button-active{
    background: url(../../../images/Union.svg) center no-repeat;
    color: #000000;
    width: 35px;
    cursor: pointer;
    height: 20px;
    border: 0px solid black;
}

.element__button:hover {
    opacity: 0.4;
    transition: 0.4s;
}
