.profile__name {
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    color: #ffffff;
    margin: 0px;   
}

@media screen and (max-width: 768px) {
    .profile__name {
        font-size: 25px;
        line-height: 33px;
    }
}

@media screen and (max-width: 320px) {
    .profile__name {
        display: flex;
        justify-content: end;
        font-size: 17px;
        text-align: center;
        width: fit-content;
    }
}