.popprofile__form{
    background-color: #ffffff;
    padding: 60px 40px;
    width: 400px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media screen and (max-width: 768px) {
    .popprofile__form{
        width: 45%;
        padding: 50px 20px;
    } 
}

@media screen and (max-width: 320px) {
    .popprofile__form {
        padding: 20px 20px;
        gap: 10px;
        width: 240px;
    }
}